* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'MuseoSlab-100', 'museo-slab', 'Adelle PE', 'Rockwell', 'Garamond', 'Book Antiqua', 'Georgia', serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'MuseoSlab-100', 'museo-slab', 'Adelle PE', 'Rockwell', 'Garamond', 'Book Antiqua', 'Georgia', serif;

}

input { 
  padding: .5em; 
  border: none;
  border-bottom: 1px solid black;
  margin-top: 1em;
  background: transparent;
}

label {
  margin-top: 1em;
}

img {
  margin-top: 3em;
}