@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  background-color: #F7F5F5;
}

h1 {
  text-align: center;
  font-family: 'Rockwell', 'Garamond', 'Book Antiqua', 'Georgia', serif;
  color: #FF7700;
  margin-top: 1em;
}

p {
  text-align: center;
  word-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  color: #5E5F61; 
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Rockwell', 'Garamond', 'Book Antiqua', 'Georgia', serif;
  color: #5E5F61;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input { 
  padding: .5em; 
  border: none;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #00BCAA;
  margin-top: 1em;
  background: transparent;
  font-size: 1em;
  padding: .75rem 0;
  font-family: 'Raleway', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #808080;
}

label {
  margin-top: 1em;
}

img {
  margin-top: 2em;
  width: 650px;
  height: 500px;
  border: 1px solid #808080;
}

.fas {
  margin-top: 1em;
  font-size: 2.5em;
  color: #FF7700;
}

button {
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}

button:active {
  opacity: .5;
}

button:hover {
  opacity: .5;
}

@media(min-width: 950px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  img {
    margin-left: 2em;
  }

  .form {
    margin-bottom: 6em;
  }

  input {
    width: 13em;
    margin-right: 2em;
  }

  button {
    margin-right: 2em;
  }
}